<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <system.serviceModel>
    <client>
      <endpoint address="net.tcp://localhost:4505/ChatService" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_IChatService" contract="ChatServiceReference.IChatService"
        name="NetTcpBinding_IChatService" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DuplexWcfChat.ChatServiceBehavior">
          <serviceMetadata />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="DuplexWcfChat.ChatServiceBehavior"
               name="DuplexWcfChat.ChatService">
        <endpoint address=""
                  binding="netTcpBinding"
                  bindingConfiguration="b1"
                  contract="DuplexWcfChat.IChatService" />
        <endpoint address="mex"
                  binding="mexTcpBinding"
                  contract="IMetadataExchange" />
        <host>
        </host>
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="b1">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IChatService">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>